html, body { height: 100%; width: 100%; margin: 0px }

#map { height: 100%; width: 100% }

/* .leaflet-control-container { position: absolute; bottom: 56px; right: 56px }  */

/* blinking map marker */
  @keyframes fade { 
  from { opacity: 0; } 
}

.blink        { animation: fade 1.00s infinite alternate; }
.blinkSlower  { animation: fade 1.50s infinite alternate; }

/* leaflet css overrides */
.leaflet-popup-content-wrapper {
  background: #dbe7ea !important
}

.leaflet-popup-tip {
  background: #dbe7ea !important
}

.custom-control {
  /* background-color: #FFFFFF; */
  width: 360px;
  height: 18px;
  margin: 0 !important;
  z-index:  800;    
  font-size: 1.0em;
  /* right: 10px; */
}

.custom-red {
  background-color: #dbe7ea;
}

.cursor-pointer {
  cursor: pointer
}
