html, body { height: 100%; width: 100%; margin: 0px }
#map { height: 100%; width: 100% }

/* .leaflet-control-container { position: absolute; bottom: 56px; right: 56px }  */

/* blinking map marker */
  @keyframes fade { 
  from { opacity: 0; } 
}

.blink        { animation: fade 1.00s infinite alternate; }
.blinkSlower  { animation: fade 1.50s infinite alternate; }

/* leaflet css overrides */
.leaflet-popup-content-wrapper {
  background: #dbe7ea !important;
  font-family: 'Times New Roman', Times, serif !important
}

.leaflet-popup-tip {
  background: #dbe7ea !important
}

.custom-control {
  /* background-color: #FFFFFF; */
  width: 360px;
  height: 18px;
  margin: 0 !important;
  z-index:  800;    
  font-size: 1.0em !important;
  font-family: 'Times New Roman', Times, serif
  /* right: 10px; */
}

.custom-red {
  color: red;
}

.custom-black {
  color: black
}

.custom-red {
  background-color: #dbe7ea;
}

.cursor-pointer {
  cursor: pointer
}

/* .button-sidebar { background-image: url(help.png); } */

.button-help {
  background-color: #FFFFFF;
  width: 42px;
  height: 42px;
  background-repeat: no-repeat;
  background-position: center;
  z-index:  800;    
  background-image: url("../images/help.png");
}

.filter-control {
  background-color: #FFFFFF !important;
  /* background-color: whitesmoke */
  width: 360px;
  height: 24px;
  margin: 0 !important;
  z-index:  800;    
  font-size: 1.25em !important;
  font-family: 'Times New Roman', Times, serif;
  content: attr("Keywords applied for filtering")
}

/* 
 */

 /* .vertical-container {
  height:   0%;
  margin:   0;
  padding:  0;
  /*height:  4%;*/
  display: -webkit-flex;
  display:         flex;
  -webkit-align-items: center;
         align-items: center;
  -webkit-justify-content: center;
         justify-content: center;
} */

/* #msg { 
  color:    white;
  background-color: gray;
  margin:   0;
  padding:  0;
  margin:   9px 0;
  white-space: nowrap;
} */

